
<h2 class="text-center">Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username"  class="form-control" type="text" name="username" placeholder="Your username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" class="form-control" type="password" name="password" placeholder="Your password">
  </div>

  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button type="submit" class="btn btn-primary mb-3">Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>
</form>
