<div class="fixed-box px-3 py-4">
  <a class="btn btn-primary mb-5 mx-auto" href="/auth/new">Create new service</a>
</div>

{{!-- <div class="mb-5">
  <form action="/private-page" method="get">
    <div class="input-group btn-group">
      <input class="form-control" name="q" placeholder="Search" required="">
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div> --}}
<div class="container pt-150">

<div class="row">

  {{#each services}}
    <div class="p-2 mb-3 col-lg-4 col-6">
      <div class="service-card card">
        <div class="row pb-3 mb-1">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="profile-img" style="background-image: url({{ this.userPic }});"></div>
          </div>
          <div class="col-lg-8 col-md-8 col-12">
            <h5>{{ this.title }}</h5>
            <p>{{ this.category }}</p>
          </div>
          <a class="btn btn-primary" href="/auth/detail/{{ this._id }}">View Detail</a>
        </div>
      </div>
    </div>
  {{/each}}

  </div>
</div>

