<div class="mb-5">
  <form action="/private-page" method="get">
    <div class="input-group">
      <input class="form-control" id="system-search" name="q" placeholder="Search for" required="">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
</div>

<div class="service-card card p-3">
  <div class="row mb-3">
    <div class="col-4">
      <img class="img-fluid" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="col-8">
      <h3>Service title</h3>
      <p>category</p>
    </div>
  </div>
  <a class="btn btn-primary" href="/auth/detail">View Detail</a>
</div>