<h2 class="text-center">Profile</h2>

<div class="profile-img text-center mb-3">
  <img src="http://placekitten.com/300/300" alt="">
</div>

<div class="mb-3 text-center">
  <p>
    Username: Username<br>
    Email: Email
  </p>
  <button class="btn btn-primary mb-3">Edit</button>
</div>


<h3 class="text-center">Rate</h3>
