<div class="detail-card card">
  <div class="row mb-3">
    <div class="col-4">
      <img class="img-fluid" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="col-8">
      <h3>Service title</h3>
      <p>category</p>
      <p>date</p>
      <p>location</p>
    </div>
  </div>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in dictum magna. Proin vitae lacus vulputate, dapibus mauris eget, lobortis mauris. Aenean eget metus tempor, facilisis quam molestie, tristique tellus. Praesent massa risus, euismod porttitor commodo id, malesuada id lorem. Proin scelerisque sem nec maximus vestibulum. Phasellus volutpat egestas sem. Integer lacinia lorem a viverra blandit.
</p>



<button class="btn btn-primary mb-3">Request</button>
