<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find My Help</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="index-main">
      <h1 class="text-center">Find My Help</h1>
    </div>
    
    <div class="container index-cont">

      <a href="/signup" class="btn btn-primary mb-3">SignUp</a>
      <a href="/login" class="btn btn-primary mb-3">Login</a>

      <p>
        Kiez-Helper helps creating a connected neighborhood by bringing your neighboors that are in need of a small help and neighboors that are willing to help together.
      </p>

    </div>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
