<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find My Help</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="index-main">
      <h1 class="text-center">Find My Help</h1>
    </div>
    
    <div class="container index-cont">

      <a href="/signup" class="btn btn-primary mb-3">SignUp</a>
      <a href="/login" class="btn btn-primary mb-3">Login</a>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in dictum magna. Proin vitae lacus vulputate, dapibus mauris eget, lobortis mauris. Aenean eget metus tempor, facilisis quam molestie, tristique tellus. Praesent massa risus, euismod porttitor commodo id, malesuada id lorem. Proin scelerisque sem nec maximus vestibulum. Phasellus volutpat egestas sem. Integer lacinia lorem a viverra blandit.
      </p>

    </div>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
