<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="index-main">
      <h1 class="text-center">ironhack-project-two</h1>
    </div>
    
    <div class="container">

      <a href="/auth/signup" class="btn btn-primary mb-3">SignUp</a>
      <a href="/auth/login" class="btn btn-primary mb-3">Login</a>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in dictum magna. Proin vitae lacus vulputate, dapibus mauris eget, lobortis mauris. Aenean eget metus tempor, facilisis quam molestie, tristique tellus. Praesent massa risus, euismod porttitor commodo id, malesuada id lorem. Proin scelerisque sem nec maximus vestibulum. Phasellus volutpat egestas sem. Integer lacinia lorem a viverra blandit.
      </p>

    </div>

    <script src='/javascripts/script.js'></script>
  </body>
</html>
