$primary:#03C9A9;
$btn-border-radius: 1.25rem;
@import "node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  .navbar-toggler {
    border-radius: .25rem;
    outline: none;
  }
}
.btn {
  display: block;
}
.index-main {
  color: #fff;
  background: url(https://picsum.photos/g/500) no-repeat;
  background-size: cover; 
  height: 10rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}
.index-cont {
}

.input-group.btn-group {
  .form-control {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
}

.profile-img > img {
  width: 50%;
  border-radius: 50%;
}
.detail-card {
  border: 0;
}
.service-card > .row > .col-4 > img,
.detail-card > .row > .col-4 > img {
  border-radius: 50%;
}