$primary:#03C9A9;
$btn-border-radius: 1.25rem;
@import "node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  .navbar-toggler {
    border-radius: .25rem;
    outline: none;
  }
}
.btn {
  display: block;
}
button.btn-primary {
  width: 100%;
}

.index-main {
  width: 100vw;
  background: url(../images/index-main.png) repeat-x bottom;
  background-size: 100%;
  height: 15rem;
  margin-bottom: 2rem;
  padding: 3rem 0;
}
// .form-control:focus {
//   box-shadow: none !important;
//   border: 1px solid #ccc !important;
//  }
.input-group.btn-group {
  .form-control {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
}

.profile-img-wrap {
  width: 70%;

} 
.profile-img {
  display: block;
  height: 0;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
  padding-bottom: 100%;
}
.detail-card {
  border: 0;
}
.service-card {
  height: 100%;
  position: relative;
  padding: 1rem 1rem 40px;

  a {
    position: absolute;
    width: 90%;
    bottom: 1rem;
  }
}
.service-card > .row > .col-4 > img,
.detail-card > .row > .col-4 > img {
  border-radius: 50%;
}